<h1> Post Show Page </h1>
<h3>Title: <%=@post.title%></h3>
<h3>Content: <%=@post.content%></h3>
<h3>Likes: <%=@post.likes%></h3>
<h3>Blogger: <%=@post.blogger.name%></h3>
<h3>Destination: <%=@post.destination.name%></h3>

<h4><%= link_to @post.blogger.name, blogger_path(@post.blogger)%></h4>
<h4><%= link_to @post.destination.name, destination_path(@post.destination)%></h4>
<h4><%= button_to "LIKE", post_path(@post), method: :patch %></h4>
